<div class="page-layout">
    <side-menu [activePage]="'home'"></side-menu>

    <div class="home-layout">
        <div>
            <u><h4>Главная страница:</h4></u>
        </div>

        <div class="row">
            <div class="list-patients-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2" class="header">Список пациентов:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr-row" *ngFor="let patient of patients; let i = index" (click)="click(i)">
                        <td [ngClass]="{'active-row': i == activeElement}">
                            <strong>{{i+1}}</strong>
                        </td>
                        <td [ngClass]="{'active-row': i == activeElement}">
                            {{ patient.name }} {{ patient.surname }} {{ patient.age }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="another-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="header">Список симптомов:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let symptom of patientSymptoms">
                        <td> {{ symptom.description }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="another-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="header">Установленный диагноз:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="activeDiagnosisIndex !== -1">
                        <td> {{ diagnoses[activeDiagnosisIndex].name }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="button-block">
            <input class="button" type="button" value="Добавить"
                   routerLink="/patient-management">
            <input class="button" type="button" value="Редактировать"
                   [class.disabled]="isEditButtonDisabled"
                   [routerLink]="['/patient-management', activePatientId]">
            <input class="button" type="button" value="Удалить пациента"
                   [class.disabled]="isEditButtonDisabled" (click)="patientDelete()">
        </div>
    </div>
</div>