.patient-management-layout {
    display: flex;
    flex-direction: column;
    padding: 3em;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    height: 30em;
}

.block-with-patient-fio {
    margin-top: 1em;
    width: 20%;
}

.another-block {
    overflow-x: auto;
    height: 30em;
    width: 25%;
    margin-left: 4em;
}

.input-block {
    margin-bottom: 1em;
}

.header {
    text-align: center
}

tr {
    height: 3em;
}

.button-block {
    margin-top: auto;
}

.button {
    margin-right: 1.5em;
}

/* Стиль для подцветки активной строки таблицы, тут: [ngClass]="{bold:patient.id == activeElement}" */
.active-row {
    background: WhiteSmoke;
    font-weight: bold;
}

.tr-row:hover {
    background: Gainsboro;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}